@tailwind base;
@tailwind components;

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'Francois';
  src: local('Francois'), url(../fonts/Francois_One/FrancoisOne-Regular.ttf);
}

@tailwind utilities;
